*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    height: auto; 
}

/*Página de Login*/

.body_login{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.login{
    width: 20%;
    border: 1px solid black;
    margin: 20% auto;
}

.login h1{
    text-align: center;
    padding: 10px;
}

.form_login{
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    font-weight: bold;
}

/*Página Inicial*/

.body_pagina_inicial{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.pag_inicial{
    width: 50%;
    margin: 5% auto;
}

.pag_inicial h1{
    padding: 20px 0;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}