*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, sans-serif;
}
body{
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
/*Página de Login*/
/*.body_login{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}*/
.login{
    width: 20%;
    border: 1px solid black;
    margin: 20% auto;
}
.login h1{
    text-align: center;
    padding: 10px;
}
.form_login{
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    font-weight: bold;
}
/*Página Inicial*/
/*.body_pagina_inicial{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}*/
.pag_inicial{
    width: 35%;
    margin: 5% auto;
}
.pag_inicial h1{
    padding: 20px 0;
}
.table_p_inicial{
    border: 2px solid black;
    border-collapse: collapse;
}
.table_p_inicial tr{
    border-bottom: 1px solid black;
}
.table_p_inicial th, td{
    border: 1px solid black;
    padding: 5px;
}
.pag_inicial a{
    text-decoration: none;
    color: black;
}
/*M001*/
.m001{
    width: 35%;
    margin: 2% auto;
}
.m001 h1{
    padding: 5px;
}
.m001 h2{
    padding: 20px 0;
}
.m001 p{
    padding: 5px;
}