<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Página Inicial</title>
</head>
<body class="body_pagina_inicial">
    <section class="pag_inicial">
        <h1>Socorro Pré-Hospitalar</h1>
        <table class="table_p_inicial">
            <tr>
                <th>ID Manobra</th>
                <th>Tema</th>
                <th>Validade</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td><a href="manobras/M001.html">M001</a></td>
                <td>SBV Pediátrico</td>
                <td>30 Dias</td>
                <td>cor</td>
            </tr>
            <tr>
                <td><a href="manobras/M002.html">M002</a></td>
                <td>SBV Criança</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M003.html">M003</a></td>
                <td>SBV Adulto</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M004.html">M004</a></td>
                <td>DAE + RCP</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M005.html">M005</a></td>
                <td>OVA Crianças</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M006.html">M006</a></td>
                <td>OVA Lactente</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M007.html">M007</a></td>
                <td>OVA Adulto</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M008.html">M008</a></td>
                <td>Monitor Sinais Vitais</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M009.html">M009</a></td>
                <td>Aspirador de Secreções</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M010.html">M010</a></td>
                <td>Torniquete</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M011.html">M011</a></td>
                <td>PLS</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M012.html">M012</a></td>
                <td>Estabilização da Cervical</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M013.html">M013</a></td>
                <td>Levantamento em Ponte</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M014.html">M014</a></td>
                <td>Remoção Manual do Capacete</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M015.html">M015</a></td>
                <td>Colocação do Cinto Pélvico</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M016.html">M016</a></td>
                <td>Aplicação do Colar Cervical</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M017.html">M017</a></td>
                <td>Maca de Levantamento</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M018.html">M018</a></td>
                <td>Maca de Vácuo</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M019.html">M019</a></td>
                <td>Extração</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M020.html">M020</a></td>
                <td>Rolamento</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M021.html">M021</a></td>
                <td>Plano Duro e Cinto Aranha</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M022.html">M022</a></td>
                <td>Extração Imediata</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M023.html">M023</a></td>
                <td>Autoextração Assistida</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M024.html">M024</a></td>
                <td>Colete de Extração</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M025.html">M025</a></td>
                <td>Extração Rápida com Colar Cervical</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M026.html">M026</a></td>
                <td>Imobilização Sistema Retenção de Crianças</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M027.html">M027</a></td>
                <td>Obstetrícia</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M028.html">M028</a></td>
                <td>Procedimento Aspiração da Via Aérea</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
        </table>
        <h1>Combate a Incêndios / Desencarceramento / Matérias Perigosas</h1>
        <table class="table_p_inicial">
            <tr>
                <th>ID Manobra</th>
                <th>Tema</th>
                <th>Validade</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td><a href="manobras/M031.html">M031</a></td>
                <td>EPI Urbano</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M032.html">M032</a></td>
                <td>ARICA</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M033.html">M033</a></td>
                <td>COS</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M034.html">M034</a></td>
                <td>Detetor de Gás</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M035.html">M035</a></td>
                <td>Câmara Térmica</td>
                <td>30 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M036.html">M036</a></td>
                <td>VUCI Bomba de Serviço</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M037.html">M037</a></td>
                <td>VFCI Bomba de Serviço</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M038.html">M038</a></td>
                <td>VTTU Motobomba</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M039.html">M039</a></td>
                <td>Estabelecimento de uma Linha de Espuma</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M040.html">M040</a></td>
                <td>Busca com Pouca Visibilidade</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M041.html">M041</a></td>
                <td>Progressão no Interior de uma Estrutura com ARICA</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M042.html">M042</a></td>
                <td>Progressão em Passagens Estreitas com ARICA</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M043.html">M043</a></td>
                <td>Material de Desencarceramento</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M044.html">M044</a></td>
                <td>Teste Escrito com Consulta</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M045.html">M045</a></td>
                <td>Rádios</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M046.html">M046</a></td>
                <td>Maca de Resgate</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M047.html">M047</a></td>
                <td>CAE</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M048.html">M048</a></td>
                <td>Ponto Trânsito</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M049.html">M049</a></td>
                <td>Salvados por Triângulo de Salvamento</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M050.html">M050</a></td>
                <td>Utilização Extintor Pó Químico</td>
                <td>120 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M051.html">M051</a></td>
                <td>Emergency Plug</td>
                <td>60 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M052.html">M052</a></td>
                <td>Almofadas de Elevação</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="manobras/M053.html">M053</a></td>
                <td>Manual de Procedimentos de Matérias Perigosas</td>
                <td>90 Dias</td>
                <td></td>
            </tr>
        </table>
    </section>
</body>
</html>